body {
  background-color: #339;
  font-family: Segoe UI;

  color: white;
}

#header {
  text-align: center;
  text-shadow: 4px 4px black;
}

.small-text {
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.25);
}

#ul-container {
  text-align: center;
}

ul.links {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
}

ul.links li {
  padding: 15px;
}

li button {
  background-color: black;
  color: white;

  border: none;
  border-radius: 3px;
    
  font-family: Segoe UI, Verdana, Tahoma;
  font-size: 20px;
  font-weight: bold;

  width: 160px;
  height: 50px;

  cursor: pointer;

  box-shadow: 3px 3px #222;
}

.no-select {
  -moz-user-select: none;
}

.tab {
  cursor: pointer;
  font-weight: bold;
}

.shadowed-text {
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.25);
}

.selected {
  color: lightblue;
}

li button:hover {
  background-color: #333;
}
